<main class="container mt-5 pt-3">
  <%= link_to 'Back', @post %> |
  <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %>

  <div class="jumbotron">
    <h1 class="text-dark">Editing Post</h1>

    <%= render 'form', post: @post %>
  </div>
</main>
