<main class="container mt-5 pt-3">

  <% @posts.each do |post| %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><td><%= link_to post.title, post %></td></h5>
        <p class="text-muted small">By <%= post.user.email %></p>
        <p class="text-muted small"><%= post.updated_at.strftime("%b %e, %l:%M %p") %></p>
        <p class="card-text text-truncate text-dark">
          <%= post.body %>
        </p>
      </div>
    </div>
  <% end %>

</main>
