<% if notice %>
  <div class="alert alert-primary alert-dismissible fade show m-0" role="alert">
    <p id="notice" class="m-0"><%= notice %></p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-warning alert-dismissible fade show m-0" role="alert">
    <p id="alert" class="m-0"><%= alert %></p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
